            body{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                background-color: #d9ffb3;
                color: #006600;
                margin-top: 20px;
                margin-left: 20px;
                margin-right: 20px;
            }
            .button{
                width: 80px;
                height: 20px;
                background-color:#d9ffb3;
                font-weight: bold;
                color:#006600;
                border: 2px solid #006600;
                
            }
            .textfield{
                padding: 20px;
                margin-left: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                background-color:#d9ffb3;
                border:5px solid #006600;
            }
            
            h1{
                padding-left: 20px;
                margin-left: 20px;
                color: #006600;
            }
            hr{
                border-top: 1px solid #006600;
            }
            .footer{
                position: fixed;
                bottom: 0;
                width:100%;
                border-top: 1px solid #006600;
                
            }
            #Display{
                margin: 20px;
                padding: 20px;
            }

            input{
                width: 500px;
            }

            #nodeTable {
                border:2px solid #F8EC0C;
                border-collapse:collapse;
                padding:5px;
                width: 500px;
                visibility: hidden;
            }
            #nodeTable th {
                border:2px solid #F8EC0C;
                padding:5px;
                background:#3FA74F;
                color: #CD1216;
            }
           #nodeTable td {
                border:2px solid #F8EC0C;
                padding:5px;
                background:#EBEBEB;
                text-align: center;
            }
